/* ==================
        初始化
 ==================== */

view,
scroll-view,
swiper,
button,
input,
textarea,
label,
navigator,
image {
	box-sizing: border-box;
}

/* ==================
          图片
 ==================== */

image {
	max-width: 100%;
	display: inline-block;
	position: relative;
	z-index: 0;
}

/* ==================
          边框
 ==================== */

/* -- 实线 -- */
.border-top-xs {
	border-top: 1rpx solid #f4f4f4;
}

.border-top-sm {
	border-top: ;
}

.border-top {
	border-top: ;
}

.border-top-lg {
	border-top: ;
}

.border-top-xl {
	border-top: ;
}
.border-bottom-xs {
	border-bottom: 1rpx solid #f4f4f4;
}

.border-bottom-sm {
	border-bottom: ;
}

.border-bottom {
	border-bottom: ;
}

.border-bottom-lg {
	border-bottom: ;
}

.border-bottom-xl {
	border-bottom: ;
}



/* -- 虚线 -- */

/* -- 阴影 -- */



/* ==================
          按钮
 ==================== */


.wx-btn {
	position: relative;
	border: 0rpx;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 0 30rpx;
	font-size: 28rpx;
	height: 64rpx;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	overflow: visible;
	margin-left: initial;
	transform: translate(0rpx, 0rpx);
	margin-right: initial;
}

.wx-btn.sm {
	padding: 0 20rpx;
	font-size: 20rpx;
	height: 48rpx;
}

.wx-btn.lg {
	padding: 0 40rpx;
	font-size: 32rpx;
	height: 80rpx;
}

.wx-btn.icon.sm {
	width: 48rpx;
	height: 48rpx;
}

.wx-btn.icon {
	width: 64rpx;
	height: 64rpx;
	border-radius: 500rpx;
	padding: 0;
}

button.icon.lg {
	width: 80rpx;
	height: 80rpx;
}

.wx-btn.shadow-blur::before {
	top: 4rpx;
	left: 4rpx;
	filter: blur(6rpx);
	opacity: 0.6;
}

.wx-btn.button-hover {
	transform: translate(1rpx, 1rpx);
}

.block {
	display: block;
}

.wx-btn.block {
	display: flex;
}


/* ==================
          布局
 ==================== */

/*  -- flex弹性布局 -- */

.flex {
	display: flex;
}

.basis-xs {
	flex-basis: 20%;
}

.basis-sm {
	flex-basis: 40%;
}

.basis-df {
	flex-basis: 50%;
}

.basis-lg {
	flex-basis: 60%;
}

.basis-xl {
	flex-basis: 80%;
}

.flex-sub {
	flex: 1;
}

.flex-twice {
	flex: 2;
}

.flex-treble {
	flex: 3;
}

.flex-direction {
	flex-direction: column;  		/*弹性盒元素的方向为相反的顺序*/
}

.flex-wrap {  
	flex-wrap: wrap;        		/*让弹性盒元素在必要的时候拆行*/
}

.align-start {      
	align-items: flex-start;   		/*元素位于容器的开头*/
}

.align-end {
	align-items: flex-end;      	/*元素位于容器的结尾*/
}

.align-center {
	align-items: center;			/*元素位于容器的中心*/
}

.align-stretch {
	align-items: stretch;			/*默认值。元素被拉伸以适应容器*/
}
.self-start {
	align-self: flex-start;			 /*元素位于容器的开头*/
}

.self-center {
	align-self: flex-center;		/*元素位于容器的中心*/
}

.self-end {
	align-self: flex-end;			/*元素位于容器的结尾*/
}

.self-stretch {
	align-self: stretch;			/*元素被拉伸以适应容器*/
}
/*在弹性盒对象的 <div> 元素中的各项周围留有空白*/
.justify-start {
	justify-content: flex-start;     /*默认值。项目位于容器的开头。*/
}

.justify-end {
	justify-content: flex-end;        /*项目位于容器的结尾。*/
}

.justify-center {
	justify-content: center;		 /*项目位于容器的中心。*/
}

.justify-between {
	justify-content: space-between;		/*项目位于各行之间留有空白的容器内。*/
}

.justify-around {
	justify-content: space-around;		/*项目位于各行之前、之间、之后都留有空白的容器内。*/
}

/* grid布局 */

.grid {
	display: flex;
	flex-wrap: wrap;
}

.grid.grid-square {
	overflow: hidden;
}

.grid.col-2.grid-square>view:nth-child(2n),
.grid.col-3.grid-square>view:nth-child(3n),
.grid.col-4.grid-square>view:nth-child(4n),
.grid.col-5.grid-square>view:nth-child(5n){
	margin-right: 0;
}

.grid.col-1>view {
	width: 100%;
}

.grid.col-2>view {
	width: 50%;
}

.grid.col-3>view {
	width: 33.33%;
}

.grid.col-4>view {
	width: 25%;
}

.grid.col-5>view {
	width: 20%;
}

/*  -- 内外边距 -- */

.margin-0 {
	margin: 0;
}

.margin-xs {
	margin: 10rpx;
}

.margin-sm {
	margin: 20rpx;
}

.margin {
	margin: 30rpx;
}

.margin-lg {
	margin: 40rpx;
}

.margin-xl {
	margin: 50rpx;
}

.margin-top-xs {
	margin-top: 10rpx;
}

.margin-top-sm {
	margin-top: 20rpx;
}

.margin-top {
	margin-top: 30rpx;
}

.margin-top-lg {
	margin-top: 40rpx;
}

.margin-top-xl {
	margin-top: 50rpx;
}

.margin-right-xs {
	margin-right: 10rpx;
}

.margin-right-sm {
	margin-right: 20rpx;
}

.margin-right {
	margin-right: 30rpx;
}

.margin-right-lg {
	margin-right: 40rpx;
}

.margin-right-xl {
	margin-right: 50rpx;
}

.margin-bottom-xs {
	margin-bottom: 10rpx;
}

.margin-bottom-sm {
	margin-bottom: 20rpx;
}

.margin-bottom {
	margin-bottom: 30rpx;
}

.margin-bottom-lg {
	margin-bottom: 40rpx;
}

.margin-bottom-xl {
	margin-bottom: 50rpx;
}

.margin-left-xs {
	margin-left: 10rpx;
}

.margin-left-sm {
	margin-left: 20rpx;
}

.margin-left {
	margin-left: 30rpx;
}

.margin-left-lg {
	margin-left: 40rpx;
}

.margin-left-xl {
	margin-left: 50rpx;
}

.margin-lr-xs {
	margin-left: 10rpx;
	margin-right: 10rpx;
}

.margin-lr-sm {
	margin-left: 20rpx;
	margin-right: 20rpx;
}

.margin-lr {
	margin-left: 30rpx;
	margin-right: 30rpx;
}

.margin-lr-lg {
	margin-left: 40rpx;
	margin-right: 40rpx;
}

.margin-lr-xl {
	margin-left: 50rpx;
	margin-right: 50rpx;
}

.margin-tb-xs {
	margin-top: 10rpx;
	margin-bottom: 10rpx;
}

.margin-tb-sm {
	margin-top: 20rpx;
	margin-bottom: 20rpx;
}

.margin-tb {
	margin-top: 30rpx;
	margin-bottom: 30rpx;
}

.margin-tb-lg {
	margin-top: 40rpx;
	margin-bottom: 40rpx;
}

.margin-tb-xl {
	margin-top: 50rpx;
	margin-bottom: 50rpx;
}

.padding-0 {
	padding: 0;
}

.padding-xs {
	padding: 10rpx;
}

.padding-sm {
	padding: 20rpx;
}

.padding {
	padding: 30rpx;
}

.padding-lg {
	padding: 40rpx;
}

.padding-xl {
	padding: 50rpx;
}

.padding-top-xs {
	padding-top: 10rpx;
}

.padding-top-sm {
	padding-top: 20rpx;
}

.padding-top {
	padding-top: 30rpx;
}

.padding-top-lg {
	padding-top: 40rpx;
}

.padding-top-xl {
	padding-top: 50rpx;
}

.padding-right-xs {
	padding-right: 10rpx;
}

.padding-right-sm {
	padding-right: 20rpx;
}

.padding-right {
	padding-right: 30rpx;
}

.padding-right-lg {
	padding-right: 40rpx;
}

.padding-right-xl {
	padding-right: 50rpx;
}

.padding-bottom-xs {
	padding-bottom: 10rpx;
}

.padding-bottom-sm {
	padding-bottom: 20rpx;
}

.padding-bottom {
	padding-bottom: 30rpx;
}

.padding-bottom-lg {
	padding-bottom: 40rpx;
}

.padding-bottom-xl {
	padding-bottom: 50rpx;
}

.padding-left-xs {
	padding-left: 10rpx;
}

.padding-left-sm {
	padding-left: 20rpx;
}

.padding-left {
	padding-left: 30rpx;
}

.padding-left-lg {
	padding-left: 40rpx;
}

.padding-left-xl {
	padding-left: 50rpx;
}

.padding-lr-xs {
	padding-left: 10rpx;
	padding-right: 10rpx;
}

.padding-lr-sm {
	padding-left: 20rpx;
	padding-right: 20rpx;
}

.padding-lr {
	padding-left: 30rpx;
	padding-right: 30rpx;
}

.padding-lr-lg {
	padding-left: 40rpx;
	padding-right: 40rpx;
}

.padding-lr-xl {
	padding-left: 50rpx;
	padding-right: 50rpx;
}

.padding-tb-xs {
	padding-top: 10rpx;
	padding-bottom: 10rpx;
}

.padding-tb-sm {
	padding-top: 20rpx;
	padding-bottom: 20rpx;
}

.padding-tb {
	padding-top: 30rpx;
	padding-bottom: 30rpx;
}

.padding-tb-lg {
	padding-top: 40rpx;
	padding-bottom: 40rpx;
}

.padding-tb-xl {
	padding-top: 50rpx;
	padding-bottom: 50rpx;
}

/* -- 浮动 --  */

.cf::after,
.cf::before {
	content: " ";
	display: table;
}

.cf::after {
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}
